/* Editor Styling */

@font-face {
  font-family: RalewayLarge;
  src: url(Raleway-Light.ttf) format('truetype');
}

/* Menu Button Styling */
.menubutton {
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.menubutton:focus {
  color: #171e29;
}

.menubutton:hover {
  border-color: #6ca6c1;
  color: #6ca6c1;
  fill: #6ca6c1;
}

.menubutton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.menubutton:active {
  border-color: #6ca6c1;
  color: #6ca6c1;
  fill: #6ca6c1;
}

@media (min-width: 420px) {
  .menubutton {
    min-width: 2em;
  }
}

.ProseMirror {
  font-family: RalewayLarge;
  font-size: 20px;
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid #000;
  color: #000;
  cursor: pointer;
  letter-spacing: -0.8px;
  line-height: 24px;
  outline: 0;
  padding: 0.5em 1em;
  transition: all 0.3s;
}

.ProseMirror:hover {
  border-color: #6ca6c1;
}

.editor {
  background-color: #fff;
  border: 2px solid #000;
}
