@font-face {
  font-family: Raleway;
  src: url(Raleway-Thin.ttf) format('truetype');
}

@font-face {
  font-family: RalewayLarge;
  src: url(Raleway-Light.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway';
}

body {
  background-color: #151515;
  color: #fff;
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 20px;
}

header {
  background-color: #151515;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

header strong {
  font-size: 22px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav ul li + li {
  margin-left: 24px;
}

main {
  background-color: #111;
  margin: 24px;
  padding: 24px;
  border-radius: 5px;
}

.logoimg{
  height: 2.25em;
}

.title {
  z-index: 1;
  text-align: center;
  font-size: 10em;
  pointer-events: none;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.description {
  background-color: #151515;
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 2em 1em 1em 2em;
  letter-spacing: .12rem;
  align-self: center;
  text-align: center;
  border: 5px, solid, #6ca6c1;
}

.para {
  padding-top: 2em;
}

.downarrow {
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.container {
  background-color: #343434;
  padding: 1em;
  margin: 1em;
}

.editorbbox {
  padding: 0.5em 0;
}

/* Table */
.tableContainer {
  margin-top: 1em;
  width: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;

  font-size: 24px;
}

.table {
  width: 100%;
  background-color: transparent;
}

.tableHeader {
  background: #6ca6c1;
}

.tableBody {
}

.tableRow {
    line-height: 1.2;
    font-weight: unset!important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}

.tableCell {
  padding-left: 30px;
}
.tableCell.Line {
  border-right-style: none;
  border-top-style: none;
  border-left-style: solid;
  border-bottom-style: none;
}
.tableCell.Bottom {
  border-right-style: none;
  border-top-style: none;
  border-left-style: solid;
  border-bottom-style: solid;
}
